[submodule "crates/formats/serde_rton"]
	path = crates/formats/serde_rton
	url = https://github.com/LambdaEd1th/serde_rton.git
	branch = master
[submodule "crates/formats/pam-codec"]
	path = crates/formats/pam-codec
	url = https://github.com/LambdaEd1th/pam-codec.git
	branch = main
