[submodule "crates/formats/serde_rton"]
	path = crates/formats/serde_rton
	url = https://github.com/LambdaEd1th/serde_rton.git
	branch = master
[submodule "crates/formats/pam-codec"]
	path = crates/formats/pam-codec
	url = https://github.com/LambdaEd1th/pam-codec.git
	branch = main
[submodule "crates/formats/rsb-archive"]
	path = crates/formats/rsb-archive
	url = https://github.com/LambdaEd1th/rsb-archive.git
	branch = main
[submodule "crates/formats/newton-manifest"]
	path = crates/formats/newton-manifest
	url = https://github.com/LambdaEd1th/newton-manifest.git
	branch = main
[submodule "crates/formats/bnk-archive"]
	path = crates/formats/bnk-archive
	url = https://github.com/LambdaEd1th/bnk-archive.git
	branch = main
[submodule "crates/formats/pak-archive"]
	path = crates/formats/pak-archive
	url = https://github.com/LambdaEd1th/pak-archive.git
	branch = main
[submodule "crates/formats/wem-audio"]
	path = crates/formats/wem-audio
	url = https://github.com/LambdaEd1th/wem-audio.git
	branch = main
[submodule "crates/formats/dzip-archive"]
	path = crates/formats/dzip-archive
	url = https://github.com/LambdaEd1th/dzip-archive.git
	branch = main
